 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Lexend+Deca&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans&display=swap'); 

*{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}
body{
    background-color: hsl(0, 0%, 95%);
}
.main-container{ 
    height: 98vh;
    width: 86%;
    display: grid;
    place-items: center;
    margin-left: 7%;

}
.container{
    display: flex;
    height: 28rem;
    width: 70%;
}
:is(.card-component-1,.card-component-2,.card-component-3){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-component-1{
background-color:  hsl(31, 77%, 52%);
}

.card-component-2{
background-color: hsl(184, 100%, 22%);
}

.card-component-3{
    background-color: hsl(179, 100%, 13%);
}
.logo{
    height: 4.9rem;
    width: 76%;
    margin-top: 50px;
}
.title-name{
    color: hsl(0, 0%, 95%);
    height: 4rem;
    width: 76%;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;  
}
.info{
    color: hsla(0, 0%, 100%, 0.75);
    height: 10rem;
    width: 76%;
    line-height: 20px;
     font-family: 'Lexend Deca', sans-serif;
     font-size: 15px;
}
:is(.learn-more-1,.learn-more-2,.learn-more-3){
    height: 6rem;
    width: 76%;
}
:is(.learn-more-1 button,.learn-more-2 button,.learn-more-3 button){
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    height: 3rem;
    width: 76%;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 40px;
     font-family: 'Lexend Deca', sans-serif;
}
.learn-more-1 button{
color:  hsl(31, 77%, 52%);
}
.learn-more-2 button{
color: hsl(184, 100%, 22%);
}
.learn-more-3 button{
color: hsl(179, 100%, 13%);
}


/* .learn-more-1 button:hover{
    background-color: hsl(0, 0%, 95%);
    color:  hsl(31, 77%, 52%);
}
.learn-more-2 button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}
.learn-more-3 button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
} */

.attribution {
     font-size: 11px; text-align: center;
     }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

@media screen and (max-width: 930px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .attribution{
        display: none;
    }
}